/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif; /* Example of a clean, readable font */
    color: #333333; /* Dark grey color for text */
    background-color: #f4f4f4; /* Light background color */
    line-height: 1.6; /* Improving readability */
}

header {
    background: #e9ecef; /* Soft color for header */
    padding: 20px 0; /* Adding more space */
}

header img {
    border-radius: 50%;
}

nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px; /* More whitespace around content */
}

/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #4a4a4a; /* Slightly darker shade for headings */
}

section {
    margin: 20px 0;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

section h2 {
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style-position: inside;
}

a {
    color: #06c;
    transition: color 0.3s; /* Smooth transition for hover states */
}

a:hover {
    text-decoration: underline;
    color: #0056b3; /* Darker shade on hover */
}

.highlighted-email {
    background-color: #eef;
    padding: 2px 6px;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    body {
        padding: 15px;
    }

    header, nav, main {
        padding-left: 15px;
        padding-right: 15px;
    }
}
