/* Basic Reset */
body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
}

/* body {
    font-family: Arial, sans-serif;
    color: #313;
    background-color: #f8f8f8;
    line-height: 1.6;
} */

body {
    background-image: url('Duddinston.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9); /* Black overlay with 50% opacity */
    z-index: -1;
}


/* Header Styles */
header {
    background-image: url('Edinburghcity.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: black; /* Adjust the text color for visibility */
    padding: 50px 0; /* Add padding for visual spacing */
}


header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9); /* Black overlay with 50% opacity */
    z-index: -1;
}


/* Navigation Menu Styles */
nav ul {
    list-style-type: none;
    background-color: #363;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
}

/* Section Styles */
section {
    padding: 20px 5%;
    margin: 20px 0;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #313;
    color: white;
}

/* Unvisited link */
a {
    color: red; /* Change to your desired color */
}

/* Visited link */
a:visited {
    color: yellow; /* Change to your desired color */
}

/* Hover over link */
a:hover {
    color: green; /* Change to your desired color */
}

/* Selected link */
a:active {
    color: blue; /* Change to your desired color */
}




/* Responsive Design */
@media (max-width: 600px) {
    nav ul li {
        display: block;
    }

    header, section, footer {
        padding: 20px;
        color: white;
    }
    
    h1 {
        font-size: 28px; /* Smaller size for mobile devices */
    }
    
    h1 {
        font-size: 20px; /* Smaller size for mobile devices */
    }
    
    p {
        font-size: 16px; /* Smaller size for paragraph text on mobile devices */
    }
    ul {
        font-size: 14px; /* Smaller size for paragraph text on mobile devices */
    }    
    li {
        font-size: 14px; /* Smaller size for paragraph text on mobile devices */
    }      
}

